<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Desktop_Trello.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Desktop_Trello.Properties.Settings>
            <setting name="QuantityBoard" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BoardName1" serializeAs="String">
                <value />
            </setting>
            <setting name="BoardName2" serializeAs="String">
                <value />
            </setting>
            <setting name="BoardName3" serializeAs="String">
                <value />
            </setting>
            <setting name="BackgroundNumber1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BackgroundNumber2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BackgroundNumber3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Board1ListQuantity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Board2ListQuantity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Board3ListQuantity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Board1Favorites" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Board2Favorites" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Board3Favorites" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Board1List1Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Board1List2Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Board1List3Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Board2List1Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Board2List2Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Board2List3Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Board3List1Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Board3List2Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Board3List3Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Board1List1CardQuantity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Board1List2CardQuantity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Board1List3CardQuantity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Board2List1CardQuantity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Board2List2CardQuantity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Board2List3CardQuantity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Board3List1CardQuantity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Board3List2CardQuantity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Board3List3CardQuantity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Board1List1Card1Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Board1List1Card2Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Board1List1Card3Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Board1List2Card1Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Board1List2Card2Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Board1List2Card3Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Board1List3Card1Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Board1List3Card2Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Board1List3Card3Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Board2List1Card1Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Board2List1Card2Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Board2List1Card3Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Board2List2Card1Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Board2List2Card2Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Board2List2Card3Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Board2List3Card1Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Board2List3Card2Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Board2List3Card3Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Board3List1Card1Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Board3List1Card2Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Board3List1Card3Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Board3List2Card1Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Board3List2Card2Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Board3List2Card3Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Board3List3Card1Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Board3List3Card2Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Board3List3Card3Text" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentUploadNumberBoard" serializeAs="String">
                <value>0</value>
            </setting>
        </Desktop_Trello.Properties.Settings>
    </userSettings>
</configuration>